<form class="login100-form validate-form">
  <span class="login100-form-title p-b-25">Can't log in?</span>

  <div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
    <input class="input100" type="text" name="email" placeholder="Enter Email">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
      <span class="lnr lnr-envelope"></span>
    </span>
  </div>


  <div class="container-login100-form-btn p-t-25">
    <button class="login100-form-btn">
      Sent recovery link
    </button>
  </div>

  <div class="text-center w-full p-t-50">
    <span class="txt1">
      Do you remember your password?
    </span><br>

    <a class="txt1 bo1 hov1" [routerLink]="['/auth/login']">Return to Login</a>

  </div>
</form>

